body {
  font-family: print_clearlyregular;
  font-weight: bold;
}
  
.wideDiv {
  width: 75%;
  margin: 3% auto;
  background-color: rgb(215, 233, 54);
  background-color: rgba(215, 235, 54, 0.5);
  box-shadow: 1em 1em 1em #000000;
  -webkit-box-shadow: 1em 1em 1em #000000;
  -moz-box-shadow: 1em 1em 1em #000000;
}

.narrowDiv {
  width: 50%;
  margin: auto;
  padding: 1em 0;
}

.Slider {
  width: 4.5em;
  height: 4.5em;
  position: relative;

  animation: image_slide 4s infinite alternate;
}

h1 {
  font-family: roman_sdregular;
  font-size: 5em;
  text-shadow: .05em .05em #999999;
  text-align: center;
}

h4 {
  font-size: 2em;
  text-decoration: underline;
  text-align: center;
  margin: 1em;
  text-shadow: .05em .05em #999999;
  font-family: roman_sdregular;
}

p {
  margin-bottom: 0.2em;
}

#homeLink, .quizLink, button {
  font-family: print_clearlyregular;
  font-weight: bold;
  background: rgb(103, 146, 163);
  background: rgba(203, 146, 163, 0.5);
  box-shadow: 0.2em 0.2em 0.2em #000000;
  width: 8em;
  margin: 0.2em;
}

#homeLink, .quizLink:hover, button:hover {
  cursor: pointer;
}

#quizSelectors {
  width: 50%;
  margin: auto;
}

#homeLink, .quizLink {
  background-color: rgb(215, 233, 54);
  background-color: rgba(215, 235, 54, 0.5);
  font-family: roman_sdregular;
  text-decoration: none;
  color: rgb(0,0,0);
  padding: 1em;
  margin: 1em;
}

#homeLink {
  display: block;
  width: 4em;
  margin: auto;
  text-align: center;
}


@font-face {
  font-family: 'roman_sdregular';
  src: url('./fonts/roman_sd-webfont.woff2') format('woff2'),
        url('./fonts/roman_sd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'print_clearlyregular';
  src: url('./fonts/print_clearly-webfont.woff2') format('woff2'),
        url('./fonts/print_clearly-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes image_slide {
  0% {left: 23%;}
  100% {left: 70%;}
}